body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
#game-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-container>canvas {
  border-radius: 5px;
}
